/** @format */

.App {
  height: 100%;
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}

input {
  padding: 3px;
  text-indent: 3px;
  border: none;
  border-radius: 3px;
  background-color: #f0ffff;
  color: #000;
}

select {
  padding: 3px;
  text-indent: 3px;
  border: none;
  border-radius: 3px;
}

input::placeholder {
  color: #0000006d;
}

input:focus {
}

span {
  font-size: inherit;
  color: var(--color-4);
}
